#q2{
    background-color: black;
    color: white;
    text-decoration:double;
    margin-right: 200px;
    height: 60px;
    width: 100%;
}
#logo{
    color: orange;
    font-size: 25px;
}
button{
    background-color: goldenrod;
}
a{
    margin-right: 200px;
    color: white;
    text-decoration: none;
}
.div{
    height: 100px;
    width: 100px;
    border: 3px solid red;
    display: inline-block;
}
#content{
    height: 150px;
}
#footer{
    background-color: black;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#text{
    margin: 50px;
    font-size: 20px;
    position: absolute;
    top: 150px;
    left: 5px;
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
}
body{
    
}